<h2>Administrator</h2>
<form action="/change_user" method="get">
  <select name="users">
  <% @users.each do |u| %>
    <option value="<%=u.id%>"><%=u.email%></option>
  <% end %>
  </select>
  <input type="submit" value="Change User >>">
</form>