<h1>Welcome to Chatreach!</h1>
  <ul>
    <% if !@dashboard.check_brands%>
    <li>
      <div class="update">
        <span class="title">Add a New Brand</span><br>
        <span class="update">We need to add a new brand keyword.  <%=link_to "Add A new Brand", new_brand_path%></span><br>
      </div>
    </li>
    <% end %>
    <% if !@dashboard.check_tags%>
    <li>
      <div class="update">
        <span class="title">Add a New Tag</span><br>
        <span class="update">Let's add some tags!  <%=link_to "Add A New Tag", new_tag_path%></span><br>
      </div>
    </li>
    <% end %>    
    <% if !@dashboard.check_actions%>
    <li>
      <div class="update">
        <span class="title">Add a New Action</span><br>
        <span class="update">Let's add some Actions  <%=link_to "Add A New Action", new_action_path%></span><br>
      </div>
    </li>
    <% end %>    
  </ul>
