<h2>global status updates</h2>
  <ul>
    <li>
      <div class="update">
        <span class="bubble_wht"></span>
        <span class="title">SomeGuy:</span>
        <span class="update">Follow-Up</span>
      </div>
      <div class="actions">
        <span>Actions</span>
        <ul>
          <li><a href="#">E-mail User</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="update">
        <span class="bubble_wht"></span>
        <span class="title">Fun Things to Do While You're Bored:</span>
        <span class="update">Comment Needs Approval</span>
      </div>
      <div class="actions">
        <span>Actions</span>
        <ul>
          <li><a href="#">Review Comment</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="update">
        <span class="bubble_wht"></span>
        <span class="title">Jane Doe:</span>
        <span class="update">Failed e-mail attempt</span>
      </div>
      <div class="actions">
        <span>Actions</span>
        <ul>
          <li><a href="#">Edit Contact Info</a></li>
          <li><a href="#">Deactivate Contact</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="update">
        <span class="bubble_wht"></span>
        <span class="title">The New Social Spots of San Mateo:</span>
        <span class="update">Category Approval (Local Hangouts)</span>
      </div>
      <div class="actions">
        <span>Actions</span>
        <ul>
          <li><a href="#">Review Article</a></li>
          <li><a href="#">Edit Category</a></li>
          <li><a href="#">View User Profile</a></li>
        </ul>
      </div>
    </li>
  </ul>