  <div class="innerBox ui-corner-top">
    <div class="status span-11 append-1">
      <% if @dashboard.get_started?%>
      <%= render :partial => "dashboard_tips" %>
      <% else %>
      hi
      <% end %>
    </div>
    <div class="news span-11 last">
      <ul>
        <li class="event">

        </li>
      </ul>
    </div>
    
    <div style="clear:both;"></div>
  </div>
</div>