  <div class="innerBox ui-corner-top">
    <div class="status span-11 append-1">
      <% if @dashboard.get_started?%>
      <%= render :partial => "dashboard_tips" %>
      <% else %>
      <%= render :partial => "dashboard_metrics" %>
      <% end %>
    </div>
    <div class="news span-11 last">
      <%= render :partial => "wiki_changes" %>          
    </div>
    
    <div style="clear:both;"></div>
  </div>
</div>