<% title "Mobile Dashboard: Please Sign In"%>

<% form_for :session,  :url => session_path do |f| -%>
<ul class="rounded">
  <li><%= f.text_field :email, :placeholder => "Email" %></li>
  <li><%= f.password_field :password, :placeholder => "Password" %></li>
</ul>  
  <%= f.submit "Submit", :class => "whiteButton submit"  %>

<% end -%>
