<div id="help_pane" class="span-7 last">
	<h2>Help: Claiming Organziations</h2>
	<object width="275" height="200"> <param name="movie" value="http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/jingh264player.swf"></param> <param name="quality" value="high"></param> <param name="bgcolor" value="#FFFFFF"></param> <param name="flashVars" value="thumb=http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/FirstFrame.jpg&containerwidth=1140&containerheight=582&showbranding=false&content=http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/00000017.mp4"></param> <param name="allowFullScreen" value="true"></param> <param name="scale" value="showall"></param> <param name="allowScriptAccess" value="always"></param> <param name="base" value="http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/"></param>  <embed src="http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/jingh264player.swf" quality="high" bgcolor="#FFFFFF" width="270" height="200" type="application/x-shockwave-flash" allowScriptAccess="always" flashVars="thumb=http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/FirstFrame.jpg&containerwidth=1140&containerheight=582&showbranding=false&content=http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/00000017.mp4" allowFullScreen="true" base="http://content.screencast.com/users/nptech/folders/Jing/media/4a07b9b3-030b-446a-9be3-f028bd3d2cbc/" scale="showall"></embed> </object>

<h4>Help Tips: Avoid Common Mistakes</h4>
		<ul>
			<li>Make sure you enter an SMS Description.</li>
			<li>Don't add tags to an organization unless you have content in the system for that tag</li>
			<li>Don't be dry when describing the organization</li>
			<li>Don't forget the address!</li>
		</ul>  



  </div>