<div id="help_pane" class="span-7 last">
	<h2>Add or Edit a User</h2>
	<p>You can add users at multiple levels to help manage your text lines.  Administrators can add new users, delete or edit them.  Administrators can also create new brands.  You can add any user to a brand as a brand administrator on the brand's edit page.  Brand Administrators can edit/create/destroy organizations, text contents and edit the brand settings.</p>


<h4>Help Tips</h4>
		<ul>
			<li>Only click the admin? box if you want the user to have super admin priveledges</li>
			<li>You can make any user an administrator for a brand by visiting the brad's edit page'</li>
			<li>You can change a user's password</li>
		</ul>  



  </div>