<div class="blue_container">
	<div class="innerBox span-15">
<h1>Edit User</h1>

<fieldset>
	<legend>Details</legend>

<%= form_for(@user) do |f| %>
  <%= render "form", :f => f%>
	<%= f.submit 'Create', :class => "button clickable round-7" %>
<% end %>
</fieldset>
</div>
	  <%= render :partial => "help"%>
<div style="clear: both;"/></div>
</div>
