<p><a href="/products/poweron/about"><img src="/images/products/poweron_large.jpg"></a></p>	
	<div id="video_thumbs">
		<ul>
			<li><a href="/products/poweron/about"><img src="/images/products/poweron_small.jpg"></a><br>PowerOn</li>
			<li><a href="/products/sext/about"><img src="/images/products/sext_small.jpg"></a><br>Sext</li>					
		</ul>
	</div>
	<div style="clear:both"></div>
 