<% content_for :menu do %>
	<li><a href="/">home</a></li>
	<li><a href="/home/about">about</a></li>
	<li><a href="/home/contact">contact</a></li>
	<li><a href="/products">products</a></li>
	<li><a href="/home/blog">blog</a></li>		
<% end %>
<div id="middle">
	<div id='left' class="span-14">
		<div id="left_front_pane" class="span-14">
  			<div id="front_pane">
				<h1>Login to the Webinar</h1>
        <p>We use <a href="http://www.yuuguu.com">Yuuguu</a> for all of our webinars.  Simply enter the pin we sent to you via email and a screen name. Then press connect.
        <!-- Yuuguu Widget Code START -->
        <div id="yuuguuWidgetWebshareEmbeddedContainer" style="height:200px;width:300px;">
             <script src="http://www.yuuguu.com/public/widgets/webshare/js/yuuguu-webshare.js" type="text/javascript"></script>
        <script type="text/javascript">displayYuuguuWidget( "http://www.yuuguu.com/", "blank" )</script></div><!-- Yuuguu Widget Code END -->		  
		    </div>
		    </p>
		</div>
	</div>
		<%= render :partial=>"right", :locals => {:title => "Welcome to Chatreach!", :description => "Chatreach is a collection of products to help health clinics, hospitals, county health departments and organizations reach their clients through new media outlets like cell phones, social networks and the web."}%>
</div>
<div class="clear" />