<div id="help_pane" class="span-7 last">
	<h2>Help: Txt Msg Simulator</h2>
<p>Using the Text Message Simulator, you can test your content responses and organizations without having to resort to a cellphone. This is a much faster process to test...but, of course you can check out the responses using your cell phone. For more help on using the simulator, <a href="http://chatreachwiki.pbworks.com/w/page/45363168/Text%20Message%20Simulator">visit the wiki</a></p>

<h4>Help Tips:Txt Msg Simulator</h4>
		<ul>
			<li>Start with Sext or a tag like HPV</li>
			<li>An option like 'Info' won't work unless you sent in a tag first</li>
			<li>You can text in test or testing besides get help on a tag</li>
		</ul>  


  </div>