<div id="help_pane" class="span-7 last">
	<h2>Help: Editing Text Content</h2>
<object width="275" height="200"> <param name="movie" value="http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/jingh264player.swf"></param> <param name="quality" value="high"></param> <param name="bgcolor" value="#FFFFFF"></param> <param name="flashVars" value="thumb=http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/FirstFrame.jpg&containerwidth=275&containerheight=200&showbranding=false&content=http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/00000016.mp4"></param> <param name="allowFullScreen" value="true"></param> <param name="scale" value="showall"></param> <param name="allowScriptAccess" value="always"></param> <param name="base" value="http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/"></param>  <embed src="http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/jingh264player.swf" quality="high" bgcolor="#FFFFFF" width="275" height="200" type="application/x-shockwave-flash" allowScriptAccess="always" flashVars="thumb=http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/FirstFrame.jpg&containerwidth=275&containerheight=200&showbranding=false&content=http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/00000016.mp4" allowFullScreen="true" base="http://content.screencast.com/users/nptech/folders/Jing/media/828d6f93-b920-460c-b109-66780c684879/" scale="showall"></embed> </object>

<h4>Help Tips: Avoid Common Mistakes</h4>
		<ul>
			<li>Don't use slang, it goes out of date fast.</li>
			<li>You Only get 140 characters at most!</li>
			<li>Tags are like keywords, options are the menus for each keyword, the response is attached to a tag and an option</li>
			<li>Unpublishing will disable it from appearing when users text that tag/option in </li>
		</ul>  

  </div>