<div id="help_pane" class="span-7 last">
	<h2>Help: Txt Msg Simulator</h2>
<object width="275" height="200"> <param name="movie" value="http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/jingh264player.swf"></param> <param name="quality" value="high"></param> <param name="bgcolor" value="#FFFFFF"></param> <param name="flashVars" value="thumb=http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/FirstFrame.jpg&containerwidth=275&containerheight=200&showbranding=false&content=http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/00000015.mp4"></param> <param name="allowFullScreen" value="true"></param> <param name="scale" value="showall"></param> <param name="allowScriptAccess" value="always"></param> <param name="base" value="http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/"></param>  <embed src="http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/jingh264player.swf" quality="high" bgcolor="#FFFFFF" width="275" height="200" type="application/x-shockwave-flash" allowScriptAccess="always" flashVars="thumb=http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/FirstFrame.jpg&containerwidth=275&containerheight=200&showbranding=false&content=http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/00000015.mp4" allowFullScreen="true" base="http://content.screencast.com/users/nptech/folders/Jing/media/02dda5ad-a8a5-4e83-9e47-5cdbbf38e03e/" scale="showall"></embed> </object>

<h4>Help Tips:Txt Msg Simulator</h4>
		<ul>
			<li>Start with Sext or a tag like HPV</li>
			<li>An option like 'Info' won't work unless you sent in a tag first</li>
			<li>You can text in test or testing besides get help on a tag</li>
		</ul>  


  </div>