<div id="help_pane" class="span-7 last">
	<h2>Help: Editing Text Content</h2>
<p>Text contents are 160 characters of text that are attached to a tag and an action.  The user might send in a tag 'hiv' and then followup with 'info' which returns something like 'HIV is a virus that ....'.  You could also specify no action, so that when 'hiv' is texted in, a text string like 'HIV is a virus that ....' comes back, instead of an array of actions. For more help on text contents,<a href='http://chatreachwiki.pbworks.com/w/page/45362922/Adding%20Text%20Content'> visit the wiki</a></p>

<h4>Understanding Tags and Actions</h4>
<p>Each piece of content has a unique tag and action combo.  When a user texts in a tag like 'hiv', the application looks up all text contents under the brand keyword tagged with 'hiv' and then returns each of their actions along with 'get help.</p>  

<h4>Help Tips: Avoid Common Mistakes</h4>
		<ul>
			<li>Don't use slang, it goes out of date fast.</li>
			<li>You Only get 140 characters at most!</li>
			<li>Tags are like keywords, options are the menus for each keyword, the response is attached to a tag and an option</li>
			<li>Unpublishing will disable it from appearing when users text that tag/option in </li>
		</ul>  

  </div>