<div id="help_pane" class="span-7 last">
	<h2>Adding or Editing Tags</h2>
  <p>Tags are top level directory items with actions under them.  Tag names have to be unique.  A user texts in a tag like HIV and gets back actions like 'info' or 'prevention'. Each tag has typos as well. You can add synonyms as a tag typo too. For more help on tags, <a href="http://chatreachwiki.pbworks.com/w/page/45362785/Adding%20Tags%20and%20Actions">visit the wiki</a></p>

  <h4>Understanding Tags and Actions</h4>
  <p>Each piece of content has a unique tag and action combo.  When a user texts in a tag like 'hiv', the application looks up all text contents under the brand keyword tagged with 'hiv' and then returns each of their actions along with 'get help.</p>

<h4>Help Tips</h4>
		<ul>
			<li>Try to keep the tags short, less than 5 characters</li>
			<li>Tags are available via 'list' text from the user</li>
			<li>Tags are the same for text content and organizations too.</li>
		</ul>

  </div>