<div id="actions">
	<a href id="createTag">Add New</a>
</div>
<div id="tag" style="display: none">
<div id="tagBank">
<input type="text" name="organization[tags_list][]" id="addTag_input" class="text"/>
<input type="button" id="tagbutton" value="Create Tag" class="softButton"/>
</div>
</div>
