<div class="innerBox span-15">
<h1>Sext Featured Help</h1>
<% @featured.each do |feature| %>
<div id="feature">
<h2><%=h feature.title %></h2>
<p>
  <%=sanitize feature.content[0..250] + "...", :tags => %w()  %>
<br><a href="/help/<%= feature.to_url%>">More >> </a>
</p>
</div>
<%end %>
</div>
  	<%= render :partial => "all_help"%>
<div style="clear: both;"/></div>
</div>