<div id="help_pane" class="span-7 last">
<h4>Visit the Wiki</h4>
<p>For more help on brands, <a href="http://chatreachwiki.pbworks.com/w/page/45362580/Creating%20a%20New%20Brand%20Keyword">visit the wiki.</a></p>
<h4>Adding a New Brand</h4>
<p>Brands are keywords that users initially text in to start a text session.  You'll use the Brand keyword in your advertising, so keep it short and memorable!</p>
<h4>Brand Tips</h4>
<ul>
  <li>Keep the keyword short and easy to remember</li>
  <li>Make sure the Welcome, Organization Not Found and Info not Found responses are under 140 characters</li>
  <li>Distance in miles affects the number of organizations returned. The larger the land mass your text line covers, the bigger you'll want the distance</li>  
  <li>SMS Providers. We support Text Caster, Tropos, and Twilio.  Make sure you select the appropriate one</li>  
  <li>Ensure that the phone number doesn't have any non-number characters</li>  
  <li>You can edit the list tags at any time to change the tags when users send in 'list'</li>
</ul>
 
<h4>Brand Administrators</h4> 

<p>Brand administrators can edit brand settings, add content, tags, actions or organizations. They can't create a new brand or destroy one. Only super administrators can create or destroy brands</p>

</div>
