<div class="blue_container">
	<div class="innerBox span-15">
		<h1>New Brand</h1>
		<div class="directions">
		  <p></p>
		</div>	
		<fieldset>
      <%= render "form"%>		
    </fieldset>
	</div>
	  	<%= render :partial => "help"%>
	<div style="clear: both;"/></div>
</div>