<div id="help_pane" class="span-7 last">
	<h2>Adding or Editing Organizations</h2>
  <p>Organizations are tagged and attached to keywords for users to get referrals to local resources. For more help on organizations, <a href="http://chatreachwiki.pbworks.com/w/page/45362933/Adding%20Organizations">visit the wiki</a></p>

<h4>Help Tips: Avoid Common Mistakes</h4>
		<ul>
			<li>Make sure you enter an SMS Description and keep it under 140 characters.</li>
			<li>Don't add tags to an organization unless you have text content in the system for that tag</li>
			<li>Don't forget the address, state and zipcodes!</li>
			<li>After you've added the organization, make sure you add it to a brand</li>
		</ul>  



  </div>