<% content_for :javascript do%>
<% end %>
<div id="cat" style="display: none">
<div id="categoryBank">
<input type="text" name="category[name]" id="addCat_input" class="text"/>
<input type="button" id="categorybutton" value="Create Category" class="softButton"/>
</div>
</div>
