<% form_for @category, :html => {:id=>"addCat", :style=>"display: block;"} do |f| -%>
<div id="questionForm">
<div id="categoryBank">
<%= f.text_field :name, :id=>"addCat_input", :class=>"text"%>
<%= f.submit "Submit", :value=>"Add Category", :class=>"softButton"%>
</div>
</div>
<% end -%>
