<div id="help_pane" class="span-7 last">
	<h2>Adding or Editing Actions</h2>
  <p>Actions are available options under tags.  For instance, a tag could be pregnancy and an action would be info.  Actions are shared across tags but actions have to be unique under each tag and brand.</p>
  
<h4>Understanding Tags and Actions</h4>
<p>Each piece of content has a unique tag and action combo.  When a user texts in a tag like 'hiv', the application looks up all text contents under the brand keyword tagged with 'hiv' and then returns each of their actions along with 'get help.  </p>

<h4>Help Tips</h4>
		<ul>
			<li>Try to keep the actions short, less than 5 characters</li>
		</ul>

  </div>