<div class="blue_container">
	<div class="innerBox span-15">
		<h1>New Category</h1>
		<div class="directions">
		  <p></p>
		</div>	
    <%= render "menu"%>		
		<fieldset>
      <%= render "form"%>		
    </fieldset>
	</div>
	<div style="clear: both;"/></div>
</div>