<div class="innerBox span-15">
<h1>Report</h1>
<div class="directions">
  <p>Alter the dates to change your report view.</p>
</div>
  	<%= render :partial => "date_select"%>	
  	<%= render :partial => "brand_#{session[:brand]}_report"%>

</div>
</div>
  	<%= render :partial => "brand_#{session[:brand]}_help"%>
<div style="clear: both;"/></div>
</div>
